* {
  margin: 0%;
}

html,
body {
  --black: hsl (240, 6%, 13%);
  --grey: hsl(240, 9%, 89%);

  height: 100%;
  font-family: 'Roboto', sans-sarif;
  -webkit-font-smothing: antialiased;
}

body {
  display: grid;
  place-items: center;
}

main {
  background: url(imagens/background.png) no-repeat center/cover;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

.content {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--grey);
}

.faixa {
  width: 64px;
  height: 125px;
  background: url(imagens/faixa.png) no-repeat center;
  position: absolute;
  top: 0;
  z-index: 2;
  align-self: center;
  left: calc(50vw - 32px);
  right: calc(50vw - 32px);
}

.furo {
  width: 80px;
  height: 8px;
  background-color: #121214;
  position: absolute;
  top: 122px;
  z-index: 1;
  align-self: center;
  left: calc(50vw - 40px);
  right: calc(50vw - 40px);
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;
  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;

  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 99%, 0 75%, 0 25%);
}

h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

a {
  color: var(--grey);
  text-decoration: none;
  margin-top: 0.25rem;

  display: flex;
  gap: 0.75rem;

  align-items: center;
  justify-content: center;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 2rem;

  list-style: none;
  padding: 0;

  display: flex;
  gap: 0.5rem;

  justify-content: center;
  align-items: center;
  position: relative;
}

.doWhile {
  width: 100%;
  height: 20px;
  margin-top: 30px;
}

@media (max-width: 560px) {
  .furo {
    opacity: 0;
  }

  .faixa {
    opacity: 0;
  }

  .doWhile {
    opacity: 0;
  }
}

@media (min-width: 560px) {
  .main {
    background: none !important;
    background-color: #121214 !important;
    z-index: 1;
    position: relative;
  }

  .desktop {
    background: url(imagens/gradiente.png) no-repeat center / cover !important;
    z-index: 2;
    width: 100%;
    height: 100%;
  }

  .content {
    min-width: 358px;
    max-width: 358px;
    background: url(imagens/background.png) no-repeat center/cover !important;
    margin-top: -30px;
    height: 540px;
    background: none;
    position: absolute;
    top: 130px;
    left: calc(50vw - 177px);
    justify-content: flex-start;
  }

  .content .avatar {
    margin-top: 50px;
  }
}
